body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #667eea 0%, #5b4670 100%); */
    background-color: #031620;
    color: #ffa500;
}

.navbar{
    border-bottom: 1px solid #ffa500;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #814a10;
}

.navbar-brand img {
    height: 30px; 
  }

.image-container {
    width: 500px;
    height: 200px;
}

.image-container img {
    width: 500px;
    height: auto;
    display: block;
}

.nav-link {
    color:#ffa500;
}


header {
    background-color: #ffa500;
    color: #031620;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    background-color: #ffa500;
    color: #031620;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

footer p {
    margin: 5px 0;
}

table {
    width: 50%;
    border-collapse: collapse;
    background-color: #ffa500;
    color: #031620;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 22px;
}

th, td {
    border: 2px solid #031620;
    padding: 10px;
    text-align: center;
}

.form-control {
    width: 100%;
    appearance: none;
    border-width: 0px;
    box-shadow: currentcolor 0px 0px 0px 1px;
    border-style: solid;
    border-radius: 6px;
    background: transparent;
    color: inherit;
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
    transition: all 0.2s ease 0s;
}

::placeholder {
    color: #031620;
}

button {
    background-color: #031620;
    color: #ffa500;
    padding: 10px;
    border-radius: 20px;
}