body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #667eea 0%, #5b4670 100%); */
    background-color: #031620;
    color: #ffa500;
}

.navbar{
    border-bottom: 1px solid #ffa500;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #814a10;
}

.navbar-brand img {
    height: 30px; 
  }

.image-container {
    width: 500px;
    height: 200px;
}

.image-container img {
    width: 500px;
    height: auto;
    display: block;
}

.nav-link {
    color:#ffa500;
}


header {
    background-color: #ffa500;
    color: #031620;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    background-color: #ffa500;
    color: #031620;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

footer p {
    margin: 5px 0;
}

table {
    width: 40%;
    border-collapse: collapse;
    background-color: #ffa500;
    color: #031620;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 22px;
    height: 75vh;
}

th, td {
    border: 2px solid #031620;
    padding: 10px;
    text-align: center;
}

/* .button {
    font-size: 5px;
    color: #031620;
    border-radius: black 5px;
    font-weight: bold;
    font-size: 25px;
} */
.button {
    background-color: #031620;
    color: #ffa500;
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 22px;
}


